.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 16px
}
.button{
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    font-weight: 700;
    font-size: 20px
}
.button:hover{
    cursor: pointer;
    background-color: var(--lightblue);
}
.input, .button{border: none}
.error{
    color: red;
    text-align: center;
    margin-top: 5px;
}